.game-creator {
  margin: auto;
  width: 50%;
  padding-left: 50%;
}

table, th, td {
  border: #282c34 1px solid;
}

thead{
  background-color: gold;
}

.error input
{
  border-bottom: 1px solid #eb516d;
}
